
@import "~main.scss";

$bar-width: 40px;
$bar-height: 4px;
$bar-spacing: 10px;

.Header {
  height: 56px;
  min-height: 56px;
  position: relative;
  .menu-wrapper {
    display: none;
    position: absolute;
    height: 28px;
    top: 14px;
    right: 24px;
    cursor: pointer;
  }
  .hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
	height: $bar-height;
  border-radius: 5px;
}

.hamburger-menu {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(155, 89, 182, 1);
	transition: all 0ms 300ms;

  &.animate {
    background: rgba(155, 89, 182, 0);
  }
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(155, 89, 182, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(155, 89, 182, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
  nav {
    height: 56px;
    padding: 8px 24px;
    box-shadow: $material-header-shadow;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $main-color;
    z-index: 100;
    background-color: #fff;
    .logo {
      a {
        display: flex;
        align-items: center;
        width: 150px;
        min-width: 150px;
        .img {
          width: 150px;
          min-width: 150px;
          height: 30px;
          background-size: cover;
        }
      }
    }
    ul {
      li {
        margin-right: 24px;
        &.languages {
          height: 32px;
          .lang-block {
            height: 32px;
            .Icon {
              cursor: pointer;
              height: 32px;
              &.selected {
                border: 1px solid $main-color;
                border-radius: 6px;
              }
            }
          }
        }
        .auth-dropdown {
          position: relative;
          .img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-size: cover;
            background-position: center center;
            cursor: pointer;
          }
          .profile-menu {
            position: absolute;
            display: none;
            background-color: $main-color;
            right: -28px;
            top: 48px;
            &.isOpen {
              display: flex;
            }
            span {
              display: block;
              white-space: nowrap;
              padding: 12px;
              color: $main-color;
              transition: all 0.28s linear;
              font-size: 14px;
              font-weight: bold;
              cursor: pointer;
              &:hover{
                background-color: $white;
                color: $main-color;
              }
            }
          }
        }
        a {
          color: #000;
          font-size: $text-size;
          cursor: pointer;
          font-weight: bold;
          &.selected {
            color: $main-color;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.sign_in_main_form{
  width: 100%;
  position: absolute;
  top: 150px;
}

.flexible_my_profile{
  position: absolute;
  top: 40px;
  left: -80px;
  z-index: 100;
  background-color: #fff;
  // width: 120px;
  .arrow_modal{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;  
    position: absolute;
    left: calc(50% - 5px);
    top: -9px;
  }
  .my_profile_list{
    width: 100%;
    box-shadow: $main-shadow;
    li{
      padding: 15px 20px;
      margin: 0;
      width: 135px;
    }
  }
}

.auth_links_icons{
  width: 200px;
  .auth_links_icons_item{
    position: relative;
  }
}

.flexible_my_cart{
  left: -100px;
  .my_profile_list_cart{
    box-shadow: $main-shadow;
    width: 175px;
    padding: 15px 20px;
    margin: 0;
  }  
}