@import "~main.scss";

.Footer {
  // padding: 8px 24px;
  box-sizing: border-box;
  background-color: #fff;
  height: 90px;
  // clip-path: polygon(0 0,100% 18%,100% 100%,0 100%);
  // background-color: $main-color;
  background-image: linear-gradient(to bottom,#667eea,#764ba2);

  // padding: 100px 0 80px;
  .footer_nav{
    ul{
      li{
        margin-right: 24px;
        a {
          color: #fff;
          font-size: $text-size;
          cursor: pointer;
          font-weight: bold;
          &.selected {
            color: #fff;
          }
        }
      }
    }
   
  }
  .footer-text {
    color: $white;
    letter-spacing: 2px;
  }
}