@import "~main.scss";

.MyProfile {
  width: 100%;
  .my_profile_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .my_profile_content_main{
      width: 70%;
      box-shadow: $main-shadow;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      min-height: 500px;
      .my_profile_content_info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        >span{
          font-size: 18px;
          padding: 5px;
        }
          #my_profile_content_info_title{
            font-size: 15px;
            color: '#9a9a9a';
          }
      }
      .my_profile_content_form{
        width: 40%;
        height: 270px;
      }
    }
  }
}

.Icon{
  svg {
    fill: $main-color;
  }
}

.Spinner {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 3px solid #e6e6e6;
  border-radius: 100%;
  animation: spinnerAnimate 1s infinite;
  border-top-color:  $main-color;
  margin: 3rem auto;
  align-self: center;
}


@keyframes spinnerAnimate {
  from { transform: rotate(0) }
  to { transform: rotate(360deg) }
}